{% extends 'paginate.html' %} {% block content %}
<div>
    </a href="{% url 'meal_plan_new' %}">create</a> 
</div>
 <main class= "recipe-grid">
 {% for mealplan in meal_plans_list %}
<div class="recipe-card">
<h2> class="recipe-card-title">
    <a href= "{% url 'meal_plan_detail' mealplan.id %}"> {{mealplan.name}}</a>
</h2>
 {% for each recipe in mealplan.recioes.all %}
 <p>
 <a href= "{% url 'recipe_detail' recipe.pk%}">{{ recipe.name}} </a>
 </p>
 {% endfor %}
 </div>
 {% empty %}
<div>
 <h1>no meals planned yet. </h1>
 <p>
    Want to 
    <a href="{% url 'meal_plan_new' %}">add</a>
    a new one?
 </p>
 </div>
 {% endfor %}
   </main>